.logo{
    color: white;
    background: url(../images/milionario-com-o-youtube.png), rgb(0, 0, 0) 50% / cover no-repeat;
    margin: 0 auto;
    width: 200px;
    height: 49.307px;
    flex-shrink: 0;

}

.modulos{
    margin: 60px auto;
    display: flex;
    justify-content: center;
}

.modulo1,.modulo2,.modulo3,.modulo4{
    margin-right: 62px;
}